apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "starlake.fullname" . }}-scripts
  labels:
    {{- include "starlake.labels" . | nindent 4 }}
data:
  init-airflow-database.sh: |
{{ .Files.Get "scripts/init-airflow-database.sh" | indent 4 }}

  starlake.sh: |
{{ .Files.Get "scripts/starlake.sh" | indent 4 }}

{{- if .Values.postgresql.internal.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "starlake.fullname" . }}-postgresql-config
  labels:
    {{- include "starlake.labels" . | nindent 4 }}
data:
  postgresql.conf: |
    max_connections = {{ .Values.postgresql.internal.config.maxConnections }}
    shared_buffers = {{ .Values.postgresql.internal.config.sharedBuffers }}
    # Additional PostgreSQL configuration
    listen_addresses = '*'
    log_timezone = 'UTC'
    datestyle = 'iso, mdy'
    timezone = 'UTC'
    lc_messages = 'en_US.utf8'
    lc_monetary = 'en_US.utf8'
    lc_numeric = 'en_US.utf8'
    lc_time = 'en_US.utf8'
    default_text_search_config = 'pg_catalog.english'
{{- end }}
