{{- if not .Values.postgresql.credentials.existingSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "starlake.postgresql.secretName" . }}
  labels:
    {{- include "starlake.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ include "starlake.postgresql.usernameKey" . }}: {{ .Values.postgresql.credentials.username | quote }}
  {{ include "starlake.postgresql.passwordKey" . }}: {{ .Values.postgresql.credentials.password | quote }}
{{- end }}

{{- if .Values.gizmo.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "starlake.fullname" . }}-gizmo
  labels:
    {{- include "starlake.labels" . | nindent 4 }}
type: Opaque
stringData:
  api-key: {{ .Values.gizmo.apiKey | quote }}
  sql-username: {{ .Values.gizmo.sql.username | quote }}
  sql-password: {{ .Values.gizmo.sql.password | quote }}
  jwt-secret: {{ .Values.gizmo.jwt.secretKey | quote }}
{{- end }}

{{- if .Values.minio.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "starlake.fullname" . }}-minio
  labels:
    {{- include "starlake.labels" . | nindent 4 }}
type: Opaque
stringData:
  root-user: {{ .Values.minio.rootUser | quote }}
  root-password: {{ .Values.minio.rootPassword | quote }}
{{- end }}
